##판다스를 시작해 봅시다

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
# pandas import
import pandas as pd

In [5]:
n = 10 
n

10

1. 시리즈를 다루어 봅시다

In [6]:
srdata = pd.Series([1, 2, 3, 4, 5])
srdata

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
list_data = [1,2,3,4,5]
list_name = ["a", "b", "c", "d", "e"]
srdata2 = pd.Series(data = list_data, index = list_name)
srdata2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
srdata2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [9]:
srdata2.dtype

dtype('int64')

In [10]:
srdata2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [12]:
type(srdata2)

pandas.core.series.Series

In [14]:
srdata2.name = "value"
srdata2.index.name = "id"
srdata2

id
a    1
b    2
c    3
d    4
e    5
Name: value, dtype: int64

In [16]:
from pandas import Series
dict_data = {"a" :1 , "b" : 2, "c" : 3, "d" : 4, "e" : 5}
sr_dd = Series(dict_data, dtype =float, name = "dicData")
sr_dd

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: dicData, dtype: float64